<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,400;1,200;1,400&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/atomic.css">
    <script src="/assets/js/scroll.js"></script>
    <title>{% if title %}{{ title }} {% else %}{{ metadata.title }} {% endif %}</title>
</head>
<body class="Bgc(mainColour) Mb(4em)">

    <header class="Px(1.5em) Pt(1.2em) Pos(r) Bgc(mainColour) Pos(st) T(0)
        Bdbs(do)">
        <h1 id="logo" class="M(0) Ff(danley)"><a href="{{ '/' | url }}"
                class="C(black):visited">{{ metadata.title }}</a></h1>
        <div id="mini-bio" >
            <p class="M(0) Mb(1em) Fs(i) C(darkslategray)">{{ metadata.miniBio }}</p>
        </div>
        {% include "nav.njk" %}
    </header>

    <main class="Maw(850px) M(a) Px(2em)">
        <h1>{% if title != "Home" %}{{ title }}{% else %} {% endif %}</h1>
        {{ content | safe }}
    </main>
</body>
</html>
