<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title %}{{ title }} {% else %}{{ metadata.title }} {% endif %}</title>
</head>
<body>
    <header>
        <h1 class="home"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
    </header>
    {% include "nav.njk" %}
    <hr>
    <main>
        <h1>{% if title != "Home" %}{{title}}{% else %} {% endif %}</h1>
        {{ content | safe }}
    </main>
</body>
</html>
