---
layout: _layouts/base.njk
---
<div class="Bdbs(da) Bdbw(t) Pb(2rem) Bdbc(gray)">
    <a class="Bg(n):hover"href="{{ /assets/CV.pdf | url }}" download="cv.pdf">
        <button>Download</button>
    </a>
</div>

{{ content | safe }}
