---
layout: _layouts/base.njk
---
<div id="bio" class="Mt(1em) D(f)--md Jc(c) Ai(c)">
    <img class="Bdrs(50%) Miw(100px) Maw(150px) Maw(250px)--md Mih(100px)
    Mah(250px) Fl(start) Fl(n)--md Mend(2em) My(1em)" src="{{
    '/assets/img/rachael_trees.jpg' | url}}" alt="Rachael Davis">
    <div>
        {{ content | safe }}
    </div>
</div>

<hr>

{% set maxPosts = collections.posts.length | min(metadata.postListLength) %}
<h1 class="D(ib) Bdbs(da) Bdbw(t)">Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} posts{% endif %}</h1>

{% set negNum = metadata.postListLength | posToNeg %}
{{ negNum | log }}
{% set postsList = collections.posts | last(negNum) %}
{{ collections.posts | log }}

{% include "postlist.njk" %}

{% if collections.posts | length > metadata.postListLength %}
    <p class="Mt(2.5rem)">More posts can be found in <a href="/blog/">my blog</a>.</p>
{% endif %}
