---
layout: _layouts/base.njk
---
<div id="bio" class="D(f) Jc(c) Ai(c)">
    <img class="Bdrs(50%) Miw(150px) Maw(250px) Mih(150px) Mah(250px)" src="/assets/img/rachael_trees.jpg" alt="Rachael Davis">
    <div class="Mstart(30px)">
        {{ content | safe }}
    </div>
</div>

<hr>

{% set maxPosts = collections.posts.length | min(metadata.postListLength) %}
<h1 class="D(ib) Bdbs(da) Bdbw(t)">Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} posts{% endif %}</h1>

{% set postsList = collections.posts | head(metadata.postListLength) %}

{% include "postlist.njk" %}

{% if collections.posts | length > metadata.postListLength %}
    <p class="Mt(2.5rem)">More posts can be found in <a href="/blog/">my blog</a>.</p>
{% endif %}
