---
layout: _layouts/base.njk
---
<div class="Bdbs(s) Bdbw(t) Mb(1em)">
    <div class="D(f) Jc(sb) Pb(0.5em) Mb(1.5em)">
        <time class="Fs(i) C(lightslategray)" datetime="{{ date }}">{{ date | readableDate }}</time>
        <div>
            {% for tag in tags | filterTagList %}
                {% set tagUrl = ["/tags/", tag, "/"] | join %}
                <a href="{{ tagUrl | url }}">{{ tag }}</a> |
            {% endfor %}
        </div>
    </div>

    {{ content | safe }}
</div>

{% if collections.posts %}
    {% set nextPost = collections.posts | getNextCollectionItem(page) %}
    {% set previousPost = collections.posts | getPreviousCollectionItem(page) %}
    {% if nextPost or previousPost %}
        <div class="D(f) Jc(sb) W(3em) M(a)">
            {% if previousPost %}
                <h2 class="M(0) P(0)">
                    <a href="{{ previousPost.url | url }}"><</a>
                </h2>
            {% else %}
                <h2 class="M(0) P(0)"><</h2>
            {% endif %}
            {% if nextPost %}
                <h2 class="M(0) P(0)">
                    <a href="{{ nextPost.url | url }}">></a>
                </h2>
            {% else %}
                <h2 class="M(0) P(0)">></h2>
            {% endif %}
        </div>
    {% endif %}
{% endif %}
