---
layout: _layouts/base.njk
---
<hr>

<div class="Bdbs(da) Bdbw(t) Bdbc(gray)">
    <p class="Fs(i) Mb(0)">{{ authors | join(", ")}} ({{ year }})</p>
    <a href="{{ journalURL }}">{{ journal }}</a>

    <a class="D(b) My(1em) Bg(n):hover"href="{{ publicationPath | url }}" download="">
        <button>Download</button>
    </a>
</div>

<h2>Abstract</h2>

{{ content | safe }}
