---
layout: _layouts/base.njk
---
<p>{{ authors | join(", ")}}</p>

<p>{{ year }}</p>

<a href="{{ publicationPath }}" download="">
    <button>Download</button>
</a>

<h2>Abstract</h2>

{{ content | safe }}
