---
layout: _layouts/base.njk
---
{% for project in collections.research %}
    <div class="D(f)--md My(1em) Z(-1)">
        <div class="Pos(r) Mend(1em)--md Miw(2/5)--md H(300px) Bgp(c)
        Bgz(cv) Bgz(a)--md" style="background-image: url({{
            project.data.imagePath }})">
            <h1 class="Mt(0) P(0.5em) Pos(a) T(0) Maw(3/5)--sm C(mainColour)">{{ project.data.title }}</h1>
        </div>
        <div>
            <div class="D(f) Fxd(c) Miw(3/5)">
                <div class="As(fe)">
                    {% for tag in project.data.tagss %}
                        <a href="/tags/{{ tag }}/">{{ tag }}</a> |
                    {% endfor %}
                </div>
                <p class="M(0)">{{ project.data.content | safe }}</p>
            </div>
        </div>
    </div>
    {% if project !== collections.research | last %}
        <hr>
    {% endif %}
{% endfor %}
