---
title: Links
nav:
    order: 4
layout: _layouts/base.njk
permalink: /links/
links:
    - title: Google
      url: https://www.google.com
      description: www directory
    - title: Polygon
      url: https://www.polygon.com
      description: a place for dweebs and nerds
---

<p>Here are some places that I think are cool...</p>
<ul>
{% for link in links %}
    <li>
        <a href="{{ link.url }}">{{ link.title }}</a>
        <p>{% if link.description %}{{ link.description }}{% endif %}</p>
    </li>
{% endfor %}
</ul>
