---
title: Publications
nav_order: 2
layout: _layouts/base.njk
---
<ul>
{% for paper in collections.publications %}
        <li>
        <a href="{{ paper.url | url }}"><h3>{{ paper.data.title }}</h3></a>
        <p>{{ paper.data.authors | join(", ") }}</p>
        <p>{{ paper.data.year }}</p>
        </li>
{% endfor %}
</ul>
