---
title: Publications
layout: _layouts/base.njk
---
{% set years = collections.years | reverse %}
{% set publications = collections.publications %}

<div class="Mx(a) Mb(2em)">
        {% for year in years %}
                <a href="#{{ year }}">{{ year }}</a>
                {% if year !== years | reverse | first %}
                        |
                {% endif %}
        {% endfor %}
</div>

{% for year in years %}
        <div class="Mb(3em)">
                <h2 id="{{ year }}"style="scroll-margin: 120px">{{ year }}</h2>
                <ul>
                        {% for paper in publications %}
                                {% if paper.data.year == year %}
                                        <li>
                                                <h3><a href="{{ paper.url | url }}">{{ paper.data.title }}</a></h3>
                                                <p class="Fs(i)">{{ paper.data.authors | join(", ") }}</p>
                                        </li>
                                        {% if paper !== publications | reverse | first %}
                                                <hr>
                                        {% endif %}
                                {% endif %}
                        {% endfor %}
                </ul>
        </div>
{% endfor %}
