{% set colours = ["blue", "red", "green", "orange", "purple", "crimson"] %}

<nav class="D(n)--sm D(f) Jc(sb) My(0.5em)">
	<div class="drop Pos(r) C(lightslategray):h">
		Menu
		<div class="D(n) drop:h_D(b) Z(2)">
			{% for page in collections.navList %}
				{% set colour = colours[loop.index0] %}
				<a href="{{ page.url }}" class="D(b) Mstart(1em) P(2px) C({{ colour }}) C({{ colour
				}}):visited">{{ page.data.title }}</a>
			{% endfor %}
		</div>
	</div>
	<div>
		{% set navLocation = page.url | stripUrl(1) | title %}
		{% set index = collections.navList | getProperty("title") |
		indexOf(navLocation) %}
		<p class="P(0) M(0) C({{ colours[index] }})">{{ page.url | stripUrl(1)
			| title}}</p>
	</div>
</nav>
