{% set colours = ["blue", "red", "green", "orange", "purple", "crimson"] %}

<nav class="D(n)--sm D(f) Jc(sb) Mb(0.5em)">
	<div class="Pos(r)">
		<p onclick="show()" id="menu-btn" class="M(0) P(0) Cur(p) C(lightslategray):h">Menu</p>
		<div id="menu-dropdown" class="D(n) Z(2)">
			{% for page in collections.navList %}
				{% set colour = colours[loop.index0] %}
				<a href="{{ page.url | url }}" class="D(b) Mstart(1em) P(2px)
				C({{ colour }}):link C({{ colour
				}}):visited">{{ page.data.title }}</a>
			{% endfor %}
		</div>
	</div>
	<div>
		{% set navLocation = page.url | stripUrl | title %}
		{% set index = collections.navList | getProperty("title") |
		indexOf(navLocation) %}

		<p class="P(0) M(0) C({{ colours[index] }})">
				{{ page.url | stripUrl | title}}
		</p>
	</div>
</nav>

<script>
	function show() {
		document.getElementById("menu-dropdown").classList.toggle("D\(n\)");
		document.getElementById("menu-dropdown").classList.toggle("D\(b\)");
		document.getElementById("menu-btn").classList.toggle("C\(lightslategray\)");
	}

	window.onclick = function(event) {
		if (!event.target.matches("#menu-btn")) {
			document.getElementById("menu-btn").classList.remove("C\(lightslategray\)");
			document.getElementById("menu-dropdown").classList.remove("D\(b\)")
			document.getElementById("menu-dropdown").classList.add("D\(n\)")
		}
	}
</script>
