<ul>
    {% for entry in postsList | reverse %}
        <li>
            <h2>
                <a href="{{ entry.url | url }}">{{ entry.data.title }}</a>
            </h2>
            <div class="D(f) Jc(sb)">
                <time class="Fs(i)" datetime="{{entry.data.date}}">{{ entry.data.date | readableDate }}</time>
                <div>
                    {% for tag in entry.data.tags | filterTagList %}
                        <a href="/tags/{{ tag }}/">{{ tag }}</a> |
                    {% endfor %}
                </div>
            </div>
            {% if entry.data.content %}
                <p>{{ entry.data.content | truncate(250) | safe }}</p>
            {% endif %}
        </li>
        {% if entry !== postsList | reverse | last %}
            <hr>
        {% endif %}
    {% endfor %}
</ul>
