<div class="tag-list">
    <p class="D(i)">All tags: </p>
    {% for tag in collections.tagList %}
        {% set tagUrl = ["/tags/", tag, "/"] | join %}
        <a href="{{ tagUrl | url }}">{{ tag }}</a> |
    {% endfor %}
</div>
